.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    margin-bottom: 80px;
}

.footerNavigation {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.navlink {
    display: flex;
    flex-direction: column;
}

.navlink a {
    text-decoration: none;
    color: gray;
    margin-bottom: 7px;
}

.commitment {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
}

.guarantee {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.guarantee span {
    font-size: 2rem;
    position: relative;
    top: -10px;
}

.contact {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.socialMedia {
    display: flex;
    justify-content: space-between;
    gap: 0.8rem;
}

.socialMedia a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

.mobileApp a {
    color: black;
    font-size: 1.5rem;
    margin-right: 0.8rem;
}

@media (max-width: 576px) {
    .footerNavigation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .commitment {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .contact {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 2rem;
    }
}