.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 15px;
    gap: 1rem;
}

.logo {
    width: 5rem;
}

.logo:hover {
    cursor: pointer;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-width: 35rem;
}

.navigation a {
    text-decoration: none;
    color: rgb(137, 133, 133);
}

.navigation a:hover {
    color: black;
}

.search {
    width: 8rem;
    font-size: 16px;
    padding: 3px 5px;
    outline: none;
    border: none;
    margin-left: 5px;
    transition: all 0.5s ease-in-out;
}

.search:focus {
    width: 18rem;
}

.searchIcon {
    font-size: 25px;
}

.searchIcon:hover {
    cursor: pointer;
}

.rightIcons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
}

.rightIcons p {
    text-align: center;
}

.hamburger {
    display: none;
}

@media (max-width:800px) {
    .rightIcons {
        display: none;
    }

    .navigation {
        display: none;
    }

    .hamburger {
        display: block;
        font-size: 25px;
        cursor: pointer;
        position: relative;
    }

    .hamburgerNavigation {
        font-size: 16px;
        display: flex;
        flex-direction: column;
        gap: 7px;
        position: absolute;
        left: -50px;
        z-index: 2;
        background-color: rgb(219, 210, 210);
        padding: 10px 20px;
        border-radius: 7px;
        width: max-content;
    }

    .hamburgerNavigation a:hover {
        border-bottom: 1px solid black;
    }

    .hamburgerNavigation a span {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .showhamburgerNavigation {
        display: none;
    }
}