.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productItem:hover {
    cursor: pointer;
}

.productItem img {
    height: 15rem;
}

.description, h5 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.productItem button {
    width: 100%;
}