/* The CSS code provided is a set of styles for various elements in a web page. Here is a breakdown of
what each section does: */
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.link {
   text-decoration: none;
   color: black;
}

.homeItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 50px 0 100px 0;
}

.price {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.productItem:hover {
   cursor: pointer;
}

.productItem img {
   height: 15rem;
   transition: all 0.9s ease-in-out;
}

.description, h5 {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.productItem button {
   margin-top: 20px;
   width: 100%;
}

.loader {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.product-item {
    border: none;
    box-shadow: 0px 0px 5px rgb(245, 241, 241);
 }

 .bagItems {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 50px auto 100px auto;
 }

 .bagItem {
   display: flex;
   justify-content:center;
   align-items:center;
   flex-wrap: wrap;
   gap: 2rem;
 }

 .bagSummary {
    margin-top: 100px;
    width: 400px;
    height: fit-content;
 }

 .bagSummary p{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .bagSummary button {
    width: 100%;
 }

 .emptyBag {
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }

 .product_item {
   display: flex;
   gap: 5rem;
   justify-content: center;
   align-items: center;
   width: 100vw;
   margin: 100px 0;
 }

 .product_item div {
   width: 35vw;
 }

 .image_box {
  width: 100%;
  height: 100%;
 }

 .item_details h5 {
   margin: 20px 0;
 }

 .item_details img {
   width: 5rem;
   margin: 0 10px 0 0;
   height: 5rem;
   border-radius: 5px;
 }

 .item_details img:hover {
   cursor: pointer;
   border: 2px solid rgb(133, 123, 123);
 }

 .item_details button {
  margin-top: 30px;
 }

 .wishlist {
  position: absolute;
  right: 2%;
  top: 50%;
  display: flex;
  font-size: 1rem;
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 50%;
 }

@media (max-width: 800px) {
  .product_item {
    display: flex;
    flex-direction: column;
  }

  .product_item div {
    width: 60vw;
  }
}